<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<th:block th:include="fragments/manager-menu :: navbar"></th:block>

<div class="container section">
    <div id="assignStageApp">
        <h2>Assign Courses to Users</h2>
        <assign-course :users="users" :courses="courses"></assign-course>
    </div>
</div>

<div th:replace="~{fragments/footer :: content}"></div>

<th:block th:include="fragments/footer :: vueResources"></th:block>

<script th:src="@{/js/components/assign-course.js}"></script>
<script th:src="@{/js/apps/assign-course.js}"></script>

</body>
</html>