<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<th:block th:include="fragments/manager-menu :: navbar"></th:block>

<div class="container">

    <div class="section">

        <div id="assignStageApp">

            <label>Select User</label>

            <auto-complete v-bind="selectedUserEmail" :items="userEmails"></auto-complete>

            <data-table :headings="userHeadings" :obj-key="'email'" :rows="users"></data-table>

        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: content}"></div>

<th:block th:include="fragments/footer :: vueResources"></th:block>

<script th:src="@{/js/components/datatables.js}"></script>
<script th:src="@{/js/components/autocomplete.js}"></script>
<script th:src="@{/js/apps/assign-stage.js}"></script>

</body>
</html>