<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<th:block th:include="fragments/admin-menu :: navbar"></th:block>

<div class="container">

    <div class="section">

        <h2 class="pageTitle">Courses</h2>

        <div class="card">
            <div class="card-body">
                <div id="courseManageApp">
                    <course-list :courses="courses"></course-list>
                </div>
            </div>
        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: content}"></div>

<th:block th:include="fragments/footer :: vueResources"></th:block>

<script th:src="@{/js/store.js}"></script>
<script th:src="@{/js/components/course-list.js}"></script>
<script th:src="@{/js/apps/course-manager.js}"></script>

</body>
</html>