<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

    <th:block th:include="fragments/admin-menu :: navbar"></th:block>

    <div class="container">

        <div class="section">

            <div id="adminHomeApp"></div>

        </div>

    </div>

    <div th:replace="~{fragments/footer :: content}"></div>

    <th:block th:include="fragments/footer :: vueResources"></th:block>

    <script th:src="@{/vendor/chart.js}"></script>
    <script th:src="@{/vendor/vue-charts/vue-chartjs.min.js}"></script>
    <script th:src="@{/js/components/loading-status.js}"></script>
    <script th:src="@{/js/components/bar-chart.js}"></script>
    <script th:src="@{/js/apps/admin-home.js}"></script>
</body>
</html>