.assignment-title {
  background: $gray-200;
  padding: 0 $card-spacer-x;
  line-height: 2em;
}

.assignment-stage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignment-stage-countdown {
  text-align: right;
  font-weight: bold;
}

.assignment-stageList {
  position: relative;
}

.assignment-stageList-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  background: #fff;
  border: 1px solid $gray-300;
  display: none;
  z-index: 1;
}

.assignment-stageList-dropdown.isOpen {
  display: block;
}

.assignment-stageList-single button {
  background: none;
  border: none;
  padding: 10px;
  display: block;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid $gray-200;
  cursor: pointer;
}

.assignment-stageList-single:last-child button {
  border-bottom: none;
}