<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

    <th:block th:include="fragments/trainee-menu :: navbar"></th:block>

    <div class="container">

        <div class="section">

            <article class="card">
                <div class="card-header">
                    <p th:utext="${userName}"></p>
                </div>
                <div class="card-body">
                    <p class="admin-message-text text-center" th:utext="${traineeMessage}"></p>
                </div>
            </article>

            <div id="traineeHomeApp">
                <div v-for="course in assignedCourses">

                    <h3>{{ course.title }}</h3>

                </div>
            </div>

        </div>

    </div>

    <div th:replace="~{fragments/footer :: content}"></div>

    <th:block th:include="fragments/footer :: vueResources"></th:block>

    <script th:src="@{/js/components/loading-status.js}"></script>
    <script th:src="@{/js/apps/trainee-home.js}"></script>

</body>
</html>