<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body class="s-trainee">

    <div class="container">

        <div class="section">

            <div class="card">

                <th:block th:include="fragments/trainee-menu :: navbar"></th:block>

                <div id="traineeHomeApp"></div><!-- #traineeHomeApp -->

            </div>

        </div>

    </div>

    <div th:replace="~{fragments/footer :: content}"></div>

    <th:block th:include="fragments/footer :: vueResources"></th:block>

    <script th:src="@{/js/components/loading-status.js}"></script>
    <script th:src="@{/js/apps/trainee-home.js}"></script>

</body>
</html>