<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="navbar">
        <nav class="navbar is-light">
            <div class="navbar-brand">
                <h3>Team Torc LMS</h3>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">

                    <a class="navbar-item" href="#">Home</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/documentation/overview/start/">Dropdown</a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="#">Item 1</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="#">Item 2</a>
                            <a class="navbar-item is-active" href="#">Item 3</a>
                        </div>
                    </div>

                </div>

            </div>
        </nav>
    </div>

</body>
</html>