<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="primaryNav">

            <div class="navbar-brand">
                <a>Team Torc LMS</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/admin/home}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/admin/users/new}">Register User</a>
                            <a class="dropdown-item" th:href="@{/admin/users}">Users</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/admin/courses}">Courses</a>
                            <a class="dropdown-item" th:href="@{/admin/courses/new}">Create Course</a>
                        </div>
                    </li>
                    <li class="nav-item"><a th:href="@{/logout}" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>

</body>
</html>