<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content">
        <footer>
            <div class="container">
                <div class="section">
                    <p>&copy; Team Torc LMS</p>
                </div>
            </div>
        </footer>
    </div>

    <div th:fragment="vueResources">
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script th:src="@{/js/lib/util.js}"></script>
        <script th:src="@{/js/lib/validator.js}"></script>
        <script th:src="@{/js/app.js}"></script>
    </div>

</body>
</html>