<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Team Torc LMS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bulma/bulma.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:fragment="nav">
        <nav>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </nav>
    </div>

</body>
</html>
