<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

    <h1>Show the login page</h1>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="txtUsername">Username</label>
            <input type="text" id="txtUsername" name="username">
        </div>
        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="text" id="txtPassword" name="password">
        </div>
    </form>
</body>
</html>