<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div class="container">

    <h3>Login to Team Torc LMS</h3>

    <form th:action="@{/login}" method="POST" class="form-signin">

        <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control">
                <input type="text" id="email" name="email"  th:placeholder="Email" class="control" />
            </div>
        </div>

        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
                <input type="password"  th:placeholder="Password" id="password" name="password" class="control" />
            </div>
            <p th:if="${param.error}" class="help is-danger">Invalid Username of Password</p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button" name="Submit" type="Submit" >Login</button>
            </div>
            <div class="control">
                <a href="registration" class="button is-link">Register an account</a>
            </div>
        </div>
    </form>

    <div th:replace="~{fragments/footer :: content}"></div>
</div>
</body>
</html>