<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

    <div class="container">

        <div class="section">

            <h2 class="title">Register</h2>

            <form autocomplete="off" action="#" th:action="@{/registration}" method="post" role="form">

                <div class="field">
                    <label for="sltUserRole" class="label">User Role</label>
                    <div class="control">
                        <select name="user_role" id="sltUserRole" class="input">
                            <option th:each="role : ${roles}"
                                    th:value="${role.toString()}"
                                    th:utext="${role.getDisplayName()}"/>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="txtFirstname" class="label">First Name</label>
                    <div class="control">
                        <input type="text" th:field="*{user.firstname}" id="txtFirstname" placeholder="Name" class="input" />
                    </div>
                    <p th:if="${#fields.hasErrors('user.firstname')}" th:errors="*{user.firstname}" class="help is-danger"></p>
                </div>

                <div class="field">
                    <div class="col-sm-9">
                        <label for="txtSurname" class="label">Surname</label>
                        <div class="control">
                            <input type="text" th:field="*{user.surname}" placeholder="Surname" id="txtSurname" class="input" />
                        </div>
                        <p	th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}" class="help is-danger"></p>
                    </div>
                </div>

                <div class="field">
                    <label for="txtEmail" class="label">Email</label>
                    <div class="control">
                        <input type="text" th:field="*{user.email}" id="txtEmail" placeholder="Email" class="input" />
                    </div>
                    <p th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" class="help is-danger"></p>
                </div>

                <div class="field">
                    <label for="txtPassword" class="label">Password</label>
                    <div class="control">
                        <input type="password" th:field="*{user.password}" id="txtPassword" placeholder="Password" class="input" />
                    </div>
                    <p th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" class="help is-danger"></p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-link">Register User</button>
                    </div>
                    <div class="control">
                        <a href="/login" class="button is-text">Login</a>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>

            </form>

        </div>

    </div>

    <div th:replace="~{fragments/footer :: content}"></div>
</body>
</html>