<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

    <th:block th:include="fragments/admin-menu :: navbar"></th:block>

    <div class="container section">

        <h3>Register User</h3>

        <div class="card">

            <div class="card-body">

                <form autocomplete="off" action="#" th:action="@{/admin/users/new}" method="post" role="form">

                    <div th:if="${successMessage}" class="alert alert-success" th:utext="${successMessage}"></div>

                    <br>
                    <div class="form-group">
                        <!--<label for="sltUserRole" class="label">User Role</label>-->
                        <select name="user_role" id="sltUserRole" class="form-control">
                            <option th:each="role : ${roles}"
                                    th:value="${role.toString()}"
                                    th:utext="${role.getDisplayName()}"/>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{user.firstname}" id="txtFirstname" placeholder="Name" class="form-control" th:classappend="${#fields.hasErrors('user.firstname')} ? 'is-invalid' : ''" />
                        <div th:if="${#fields.hasErrors('user.firstname')}" th:errors="*{user.firstname}" class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                       <input type="text" th:field="*{user.surname}" placeholder="Surname" id="txtSurname" class="form-control" th:classappend="${#fields.hasErrors('user.surname')} ? 'is-invalid' : ''" />
                       <div th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}" class="invalid-feedback"></div>
                   </div>

                   <div class="form-group">
                       <input type="text" th:field="*{user.email}" id="txtEmail" placeholder="Email" class="form-control" th:classappend="${#fields.hasErrors('user.email')} ? 'is-invalid' : ''"/>
                       <div th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" class="invalid-feedback"></div>
                   </div>

                   <div class="form-group">
                       <input type="password" th:field="*{user.password}" id="txtPassword" placeholder="Password" class="form-control" th:classappend="${#fields.hasErrors('user.password')} ? 'is-invalid' : ''" />
                       <div th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" class="invalid-feedback"></div>
                   </div>

                   <div class = "form group">
                       <button type="submit" class="btn btn-secondary">Register User</button>
                   </div>
               </form>

            </div>

        </div>

    </div>

   <div th:replace="~{fragments/footer :: content}"></div>
</body>
</html>